* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

body {
    background-color: rgb(202, 220, 223);
}

/* 
For index page --

*/

.container {
    background-color: rgb(104, 148, 168);
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0%;
}

.container h1{
    color: rgb(211, 186, 186);
    text-align: center;
}






.Scrambled-egg-pic {
    height: auto;
    width: 360px;
}

.Hotdog-pic {
    height: auto;
    width: 350px;
}