* {
    font-family:cursive;
   
}

body {
    background: hsl(210deg, 30%, 12%);
    color: hsl(0deg 0% 100%);
}

/* 
For index page --

*/
.container {
    border: 1px groove rgb(80, 78, 78);
    margin-top: 8%;
    display: inline-block;
    border-radius: 40px;
    padding: 20px;

}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.flex-container {
    background: rgb(48, 48, 70);
    height: 100px;
    display: flex;
    gap: 36px;
    justify-content: space-evenly;
    border: 1px solid white;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 40px;
}

hr {
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}




/* end of index -- */


.Scrambled-egg-pic {
    height: auto;
    width: 360px;
    
}

.Hotdog-pic {
    height: auto;
    width: 350px;
}